<%- include('partials/header'); %>

<div class="content">
    <h1 style="text-align: center">Add User Story</h1>
    <div class="formPanel">
        <form action="/addStory" method="POST">
            <label for="url">URL</label><br>
            <input type="url" name="getUrl" id="url" required><br>
            <label for="title">TITLE</label><br>
            <input type="text" name="getTitle" minlength="3" id="title" required><br>
            <label for="description">DESCRIPTION</label><br>
            <textarea name="getDescription" id="description" rows="10" cols="20" required></textarea><br>
            <label for="tag">TAG</label><br>
            <input name="getTag" id="tag" type="text" pattern="[#]{}"><br>
            <label for="upload">UPLOADED BY</label><br>
            <input name="getUpload" minlength="3" id="upload" type="text"><br>
            <label for="email">EMAIL</label><br>
            <input name="getEmail" id="email" type="email"><br>
            <p><button type="submit">SUBMIT</button></p>
        </form>
    </div>
</div>

<%- include ('partials/footer'); %>